.box {
  background-color: #fff;
  padding: 3.2rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}
