.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: #fff;
  border-radius: 11px;
  border: 1px solid var(--color-light--2);
  padding: 2rem;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  min-height: 0;
  flex: 1; /* Rozciągam grida, żeby zajął całą pozostałą przestrzeń flexa (container) */
}
