.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  padding: 1.5rem 2rem;
  background: #f7f8fc;
  width: 130rem;
  margin: 0 auto;
  height: calc(100vh - 11rem);
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  flex-shrink: 0;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
