.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.main {
  padding: 1.5rem 2rem;
  background: #f7f8fc;
  /* width: 130rem; */
  margin: 0 auto;
  height: calc(100vh - 11rem);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 2rem;

  min-height: 0;
  /* overflow-y: auto; */
  max-width: 130rem;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  flex-shrink: 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  min-height: 0;
}

.details > :last-child {
  /* flex: 1; */
  min-height: 0;
  /* overflow-y: auto; */
}
