.userItem,
.userItem:link,
.userItem:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light--5);
  color: var(--color-dark--1);
  padding: 2.4rem;
  font-size: 2rem;

  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all;
}

.userItem:hover {
  transform: translateY(-2%);
}
