.accounts {
  background: white;
  padding: 1rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  min-height: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header h3 {
  font-size: 2.4rem;
}

.list {
  overflow-y: auto;

  min-height: 0;
}
