.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}

.primaryGreen {
  font-weight: 700;
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}

.light {
  background-color: var(--color-light-2);
  color: var(--color-dark--1);
  font-weight: 700;
  border: 1px solid var(--color-dark--2);
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.search {
  font-weight: 600;
  background: none;
  border: 1px solid #ccc;
}

.big {
  background: none;
  text-transform: none;
  font-weight: 600;
  padding: 2.4rem 4.8rem;
  /* border: 1px solid var(--color-light--1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.big span {
  font-size: 2rem;
  font-weight: 700;
}

.big:hover {
  background-color: var(--color-light--2);
}

.pagination {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}
