.header h3 {
  font-size: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.form {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form input {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 40rem;
}

.form select {
  font-size: 1.6rem;
  border: 1px solid var(--color-light--2);
  padding: 1.2rem;
  border-radius: 5px;
  width: 40rem;
}

.error {
  font-size: 1.8rem;
  color: red;
}
