.nav {
  display: grid;
  /* align-items: center; */
  /* justify-content: space-between; */
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav:last-child {
  justify-content: end;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-dark--1);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
}

.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
  padding: 1rem 2rem;
  border-radius: 7px;
}

.dark {
  background-color: var(--color-dark--1);
  color: #fff;
}
