.searchForm {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  /* justify-content: space-between; */
  background: white;
  padding: 1.2rem;
  border-radius: 9px;
  margin-bottom: 2.4rem;
}

.input {
  width: 40rem;
  padding: 0.8rem 1.6rem;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 1.6rem;
}

.select {
  min-width: 140px;
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  font-size: 1.6rem;
}
