.transactionItem {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  background-color: var(--color-light--5);
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  /* box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15); */
}

.transactionInfo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--color-dark--1);
}

.transactionInfo h4 {
  font-weight: 700;
  font-size: 1.8rem;
}

.transactionInfo p {
  font-size: 1.4rem;
  font-weight: 600;
}

.transactionDate {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

.transactionAmount {
  font-weight: bold;
  font-size: 2rem;
  justify-self: start;
  padding: 0.4rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-dark--0);
}

.arrow {
  font-size: 3.2rem;
}

.balanceAfter {
  font-size: 1.2rem;
  color: var(--color-light--1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
